<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>photo</servlet-name>
		<servlet-class>com.zchen323.photo.servlet.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>photo</servlet-name>
		<url-pattern>/t/photo/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.zchen323.photo.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/t/_admin/*</url-pattern>
	</servlet-mapping>
</web-app>
